 <div class="container">
 <br>
        <h1 class="display-4">About me</h1> 
             
            <img id="image" class="image" src="./Assets/images/profile photo.jpg"  width="250" height="300"  alt="profile" loading="lazy">  
            <br>
            <h4>Seol Cheon</h4>
            <br>
            <p>My name is Seol Cheon. I'm from South Korea.</p>
            <p>I'm currently Centennial College student.</P>
            <P>And My major is Software Engineering Technology </p>
            <p>I speak Korean and English</p>  
            <p>Programming Languages that I can use are C#, Java, SQL and Python.  </p>
            <p>I am good at math and I love to work on new software development project</p>
            <p></p>

            <h4>My Resume</h4>
            <p>Open a PDF file <a href="/Assets/pdf/.pdf">Resume</a></p>
    
    </div>