 <div class="container">
 <br>
    <h4>Welcome to my profile website!<h4>
    <br>

    <h5>My personal ission statement is</h5>
    <li>to learn English, French, Spanish</li>
    <li>to join Google and learn how to run a company</li>
    <li>to make AI that can be a friend with human</li>
    <li>to run my own AI business</li>
    <br>
    <br>
    <br>

    <h5>These are link buttons to go each page<h5>
    
    <a class="btn btn-primary" href="/home" role="button">Home</a>
    <a class="btn btn-primary" href="/about" role="button">About</a>
    <a class="btn btn-primary" href="/projects" role="button">Projects</a>
    <a class="btn btn-primary" href="/services" role="button">Services</a>
    <a class="btn btn-primary" href="/contact" role="button">Contact</a>
        

    <br>
    <br>
    <br>
    
    </div>