<div class="container">
    <br>  
    <img id="image" src="./Assets/images/project1.jpg" width="200" height="200" class="image" alt="...">
    <br>
    <br>
    <p>I've made BMI calculator using a winform in Visual studio. 
    <br>I made the form and wrote the code to calculate BMI.
    <br>you can choose whether your country use imperial or metric system.
    <br>if you put your weight and height, it will calculate your BMI.</p>
    <img id="image" src="./Assets/images/project2.jpg" width="200" height="200"class="image" alt="..."> 
    <br>
    <br>
    <p>I've made a question bank machine using Java Language. 
    <br>I made some questions and answers
    <br>And when an user's answer is correct or incorrect,
    <br>It will show the user correct or incorrect message
    <br>And finally it will calculate the grade of the test.</p>
    <img id="image" src="./Assets/images/project3.jpg" width="200" height="200"class="image" alt="...">  
    <br>
    <br>
    <p>I'm working on making secure section of a website that I made
    <br>by using MongoDB. If the user is authenticated,
    <br>he will be taken to a list View that I make. 
    <br>otherwise, he will be redirected back to the Login View.
    <br>And if the user attempts to access the secure area of the site, 
    <br>they should be redirected back to the Login View</p>
    <br>
    <br>
    <br>      
           
          
</div>