/*custom css goes here*/

/*File name : app.js
  Author's name : Seol Cheon
  Student ID : 301113120
  Web site name : Seol Cheon
  date : Oct 09, 2020 */

.jumbotron-fluid {                  
    padding-right : 15px;
    padding-left: 30px;
    margin-right : 50px;
    margin-left : 50px;
}
