 <div class="container">
 <br>
    <h4>Welcome to my profile website!<h4>
    <br>

    <h5>My personal mission statement is</h5>
    <li>to learn English, French, Spanish</li>
    <li>to join Google and learn how to run a company</li>
    <li>to make AI that can be a friend with human</li>
    <li>to run my own AI business</li>
    <br>
    <br>
    <br>

    <h5>These are link buttons to go each page<h5>
    
    <a id = homeButton class="btn btn-primary" role="button">Home</a>
    <a id = aboutButton class="btn btn-primary" role="button">About</a>
    <a id = projectsButton class="btn btn-primary" role="button">Projects</a>
    <a id = servicesButton class="btn btn-primary" role="button">Services</a>
    <a id = contactButton class="btn btn-primary" role="button">Contact</a>
        

    <br>
    <br>
    <br>
    
    </div>