<div class="container">
<h1>Offering services</h1>
<br>
<br>
<h4>Using Languages</h4>
<br>
<h5><li>C#</li><h5>
<h5><li>Python</li><h5>
<h5><li>Java</li><h5>
<h5><li>SQL</li><h5>
<br>

<h4>Services</h4>
<h5><li>General programming</li><h5>
<img  src="./Assets/images/general.jpg" width="250" height="150" class="image" alt="...">
<h5><li>back end Web development</li><h5>
<img  src="./Assets/images/webdevelopment.jpg" width="250" height="150" class="image" alt="...">
<h5><li>Mobile apps</li><h5>
<img  src="./Assets/images/mobileapp.png" width="250" height="150" class="image" alt="...">
<h5><li>Web Designing</li><h5>
<h5><li>Responsive web/mobile Designing</li><h5>


</div>